@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	// font-weight: 400;
	font-style: normal;
}

$primary: #764ba2;
$secondary: #667eea;
$gradient: linear-gradient(135deg, $secondary 0%, $primary 100%);
$background: #f5f6fa;
